<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ATchuruku">
<listeners>
	<listener class-name="com.hx.ATwuliu.util.ExtentTestNGIReporterListener" />
	<listener class-name="com.hx.ATwuliu.util.OverrideIAnnotationTransformer" />
	<!--listener class-name="com.hx.ATwuliu.util.ExtentTestNGITestListener" /-->
</listeners>
  <test name="ATwuliu" preserve-order="true">
    <classes>
	  <class name="com.hx.ATwuliu.exetest.LoginSystem">
		<methods>
            <include name="login" />
		</methods>
	  </class>
      <class name="com.hx.ATwuliu.exetest.BusinessManage">
		<methods>
            <include name="rukuTongzhishuTest" />	
			<include name="chukuTongzhishuTest" />
            <include name="chukutihuodanTest" />
			<include name="gouxiaojihuaTest" />
			<include name="lunhuanjihuaTest" />
			<include name="diaorudiaochujihuaTest" />
			<include name="hetongguanliTest" />
		</methods>
	  </class>
	  <class name="com.hx.ATwuliu.exetest.ZhinengChurukuM">
		<methods>
		<include name="dengjiZhika" />
		<include name="diaoduGuanli" />
		
		</methods>
	  </class>
	</classes>
  </test> <!-- HXAutomation -->
</suite> <!-- Default Suite -->
